# Rust
/target
Cargo.lock

# Node
node_modules/
.pnpm-store/
.next/
out/

# Env
.env
.env.local

# IDE
.vscode/
.idea/
apps/web/public/pkg/
apps/web/pnpm-lock.yaml
apps/web/pnpm-workspace.yaml
.claude/plan/
.claude/prds/
